@import url('normalize.css');

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    height: 100vh;
    background: url('./images/pattern-background-desktop.svg') top center no-repeat hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 0;
}

p {
    color: hsl(224, 23%, 55%);
    margin-top: 0;
}

.container {
    display: flex;
    align-items: center;
    max-width: 327px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1.25rem;
    margin-bottom: 3rem;
}

.card-img {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.card-body {
    padding: 1.875rem 1.5rem 1.375rem 1.5rem;
}

.card-text {
    text-align: center;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.card-text p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.plan {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.625rem;
}

.plan > div
.plan > a {
    flex: 1 0 auto;
}

.plan p {
    line-height: 1.5;
    margin: 0;
}

.plan a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 0.875rem;
}

.plan a:hover,
.plan a:active {
    color: hsla(245, 75%, 52%, 0.75);
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.625rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out,
                opacity .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    border-color: hsl(245, 75%, 52%);
    box-shadow: 0 16px 60px -16px hsl(245deg 75% 52%);
}

.btn-primary:hover,
.btn-primary:active {
    opacity: 0.75;
}

.btn-link {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.btn-link:hover,
.btn-link:active {
    color: #000;
}

.d-grid {
    display: grid;
}

.gap {
    gap: 0.5rem;
}

.flex-fill {
    flex: 1 1 auto;
}

.mr-3 {
    margin-right: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.text-black {
    color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

@media (min-width: 1440px) {
    .container {
        max-width: 450px;
    }

    .card-body {
        padding: 3rem 3rem 1.375rem 3rem;
    }

    .card-text {
        max-width: 300px;
    }

    .plan {
        padding: 1.5rem;
    }

    .plan p {
        line-height: 1.7;
    }

    .gap {
        gap: 1rem;
    }
}
